.container-footer{
  margin-top: 8rem;
  width: 100%;
  background-color: #a72929;
  opacity: .9;
  color: white;
  text-align: center;
  padding: 2.5rem;
  box-sizing: border-box;
}

.container-footer h3{
  text-transform: uppercase;
  font-size: 1.5rem;
  font-weight: 100;
  border: 2px solid white;
  width: 15rem;
  max-width: 90%;
  margin: 0 auto 25px;
}

.container-footer strong{
  color: white;
}

.container-footer div p{
  margin-bottom: 0;
}

@media (max-width: 768px) {
  .container-footer{
    margin-top: 4rem;
    padding: 2rem 1rem;
  }
}

@media (max-width: 600px) {
  .container-footer{
    margin-top: 2rem;
    padding: 1.5rem 1rem;
  }

  .container-footer h3{
    font-size: 1rem;
  }

  .container-footer p{
    font-size: .8rem;
  }
}
